* {
    font-family: 'Open Sans', sans-serif;
}

label{
    font-size: 14px;
    padding-bottom: 10px;
    color: #576267;
    margin-top: 15px;
}

.span {
    color: red;
}


.cv-header{
    padding-top: 15px;
    background-color: rgba(175, 175, 175, 0.2);
    border-radius: 2px;
}

.sub{
    color: #c6cbce;
    padding-left: 20px;
    padding-top: 5px;

}
.line{
    display: inline-flex

}

.container{
    padding-bottom: 30px;
    padding-top: 10px;
}